<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            用户名：{{body.name}}
          </li>
          <li class="list-group-item">
            电子邮箱：{{body.email}}
          </li>
          <li class="list-group-item">
            注册时间：{{body.date}}
          </li>
        </ul>
        <a href="/user/logout" class="btn btn-primary btn-block mt-5">注销</a>
    </div>
  </div>
</div>
